# Arquivo de segredos (O MAIS IMPORTANTE)
# Nunca envie suas chaves secretas para o GitHub
.env
.env.*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Pasta de dependências (milhares de arquivos)
node_modules

# Pasta de "build" (o projeto compilado)
dist
dist-ssr

# Cache do Vite
.vite
.vite-temp

# Arquivos de sistema (Mac e Windows)
.DS_Store
Thumbs.db

# Arquivos de IDE (como o VS Code)
.vscode/